<!-- _includes/nav.html -->
<nav class="navbar navbar-fixed-top navbar-vfs">
  <div class="container">
  <a class="navbar-brand" href="{{site.url}}{{site.baseurl}}">VFS.io</a>
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item">
      <a class="nav-link" href="{{site.url}}{{site.baseurl}}/about">About</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{{site.url}}{{site.baseurl}}/blog">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{site.url}}{{site.baseurl}}/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{site.url}}{{site.baseurl}}/snippets">Snippets</a>
    </li>
  </ul>
  </div>
</nav>
<!-- /_includes/nav.html -->
