---
layout: default
---
<!-- index.html -->
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="inner cover">
        <h1 class="display-1 cover-heading">Victor Fischer Scattone</h1>
        <p class="lead"></p>
        <p class="lead">
          <a href="{{site.url}}{{site.baseurl}}/about" class="btn btn-lg btn-home">About.</a>
          <a href="{{site.url}}{{site.baseurl}}/blog" class="btn btn-lg btn-home">Blog.</a>
          <a href="{{site.url}}{{site.baseurl}}/projects" class="btn btn-lg btn-home">Projects.</a>
          <a href="{{site.url}}{{site.baseurl}}/snippets" class="btn btn-lg btn-home">Snippets.</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- /index.html -->
